.grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 5vh 1fr 5vh;
    background-color: #1B5D82;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.mainSeperator {
    background-color: #1B5D82;
    grid-column: 1/-1;
}

.fact{
    grid-column: 2/3;
    grid-row: 2;
    border: 3px solid white;
}