.fact {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 45vw 1fr 45vw;
    background-color: #ffdbc2;
}

.factWrapper {
    flex-direction: column;
    justify-content: center;
    color: #184f6e;
    padding: 2vh 2vw 2vh 2vw;
    grid-row: 1;
    grid-column: 3;
}


.factHeading{
    font-size: calc(16px + 2vw);
    font-family: 'Lobster Two', cursive;
    margin: 0;
}

.factText{
    flex-direction: column;
    font-size: calc(8px + 1vw);
    font-family: Helvetica, sans-serif;
    min-height: 50vh;
    margin-top: 15vh;
}

.factImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 5% 5% 5%;
    margin: auto;
    grid-row: 1;
    grid-column: 1;
    background-color: #cb86554d;
    border-radius: 50%;
    min-height: 70vh;
}
.factImg > img {
    width: 70vh;
}

/* BUTTON */

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;

}


.factCounter {
    font-family: Helvetica, Arial, sans-serif;
    user-select: none;
    /* min-width: 3vw; */
}

.icon {
    font-family: 'Lobster Two', cursive;
    font-size: calc(10px + 1vw);
    color: white;
    background-color: rgba(240, 89, 89, 0.8);
    border: none;
    cursor: pointer;
    margin: 0 2vw 0 2vw;
}

.buttonWrapper button:hover{
    transition: 0.2s;
    /* background-color: rgba(240, 114, 114, 0.8); */
}

@media only screen and (max-width: 700px) {
    .fact {
        display: grid;
        grid-template-rows: 10fr 5vh 10fr;
        grid-template-columns: 1fr;
        background-color: #ffdbc2;
    }
    .factImg {
        grid-row: 1;
        grid-column: 1;
        min-height: 30vh;
    }

    .factWrapper{
        grid-row: 3;
        grid-column: 1;
    }

    .factImg img{
        width: 30vh;
    }

    .factText{
        min-height: 30vh;
        margin-top: 0vh;
    }

  }

