/* GRIDS */
.gridFlamingo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 50vh);
}

.gridElements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 20vh);
    grid-row: 1;
}

.header {
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    animation: dayShift 1s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-fill-mode:forwards;
}

.circle {
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    animation: sunMove 1s linear;
    z-index: 1;
    animation-fill-mode:forwards; 
    /* Animtaion-fill-mode: keeps animation */
}

.textBox{
    font-family: Helvetica, sans-serif;
    color: white;
    grid-column: 2;
    grid-row: 4;
}

.flamingo {
    grid-column: 2;
    grid-row: 1/3;
    z-index: 2;
}

img{
    float: right;
    height: 100vh;
}


@keyframes dayShift {
    0%{
        background-color: rgb(8, 16, 17);
    }
    100%{ 
        background-color: rgb(68, 184, 184);
    }
}

@keyframes sunMove {
    0% {
        transform: translate(110vw, 80vh);
        width: 150px;
	    height: 150px; 
        background: #eb3b5a;
    }
    25.5%{
        background: #fa8231;
        transform: translate(80vw, 40vh);
    }
    50%{
        transform: translate(60vw, 30vh);
        width: 170px;
	    height: 170px;
        background: #fa8231;
    }
    75%{
        transform: translate(40vw, 20vh);
    }
    100% {
        transform: translate(15vw, 15vh);
        width: 200px;
	    height: 200px; 
        background: #f7e331;
    }
}

@media only screen and (max-width: 1000px) {
    img{
        float: right;
        height: 50vh;
    }
}