
/* GRIDS */
/* .gridFlamingo {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 50vh);
} */

.gridElements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 20vh);
    grid-row: 1;
    grid-column: 1;
}
.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    animation: dayShift 2s cubic-bezier(0.755, 0.05, 0.855, 0.06);
    animation-fill-mode:forwards;
}

.intro {
    display: flex;
    flex-direction: column;
    grid-column: 2/4;
    grid-row: 1;

    margin-left: 3vw;
    font-size: calc(12px + 2vw);
    color: rgb(253, 253, 253);
    font-family: 'Lobster Two', cursive;
    z-index: 12;
    margin-top: 5vh;
}

.intro p,h1{
    margin: 0;
}



.sun {
    position: absolute;
    border-radius: 50%;
    display: inline-block;
    animation: sunMove 2s linear;
    z-index: 0;
    animation-fill-mode:forwards; 
    /* Animtaion-fill-mode: keeps animation */
}


.clouds {
    user-select: none;
    opacity: 0.8;
    z-index: 0;
}

.cloud1 {
    position: absolute;
    display: inline-block;
    animation: cloudMove1 60s linear infinite;
    animation-delay: 0s;
    left: -20vw;
    width: 20vw;
    height: 10vh;
}

.cloud3 {
    position: absolute;
    display: inline-block;
    animation: cloudMove3 55s linear infinite;
    animation-delay: 10s;
    left: -15vw;
    width: 15vw;
    height: 10vh;
}

.cloud2 {
    position: absolute;
    display: inline-block;
    animation: cloudMove2 50s linear infinite;
    animation-delay: 20s;
    left: -20vw;
    width: 20vw;
    height: 10vh;
}

.cloud4 {
    position: absolute;
    display: inline-block;
    animation: cloudMove4 40s linear infinite;
    animation-delay: 15s;
    left: -10vw;
    width: 10vw;
    height: 5vh;

}

@keyframes dayShift {
    0%{

        background-color: #184f6e;
    }
    100%{ 
        background-color: rgb(71, 194, 194);
    }
}

@keyframes cloudMove1 {
    0% {
        transform: translate(0vw, 10vh);
    }
    100% {
       transform: translate(140vw, 10vh) 
    }
}
@keyframes cloudMove2 {
    0% {
        transform: translate(0vw, 20vh);
    }
    100% {
       transform: translate(140vw, 20vh) 
    }
}
@keyframes cloudMove3 {
    0% {
        transform: translate(0vw, 30vh);
    }
    100% {
       transform: translate(140vw, 30vh) 
    }
}

@keyframes cloudMove4 {
    0% {
        transform: translate(0vw, 60vh);
    }
    100% {
       transform: translate(140vw, 60vh) 
    }
}



@keyframes sunMove {
    0% {
        transform: translate(110vw, 80vh);
        width: 150px;
	    height: 150px; 
        background: #eb3b5a;
    }
    25.5%{
        background: #fa8231;
        transform: translate(80vw, 40vh);
    }
    50%{
        transform: translate(60vw, 30vh);
        width: 170px;
	    height: 170px;
        background: #fa8231;
    }
    75%{
        transform: translate(40vw, 20vh);
    }
    100% {
        transform: translate(15vw, 15vh);
        width: 200px;
	    height: 200px; 
        background: #f7e331;
    }
}

@media only screen and (max-width: 1000px) {
    .textBox {
        font-size: 1em;
    }

    .intro {
        margin-top: 8vh;
        z-index: 10;
        grid-row: 3;
        grid-column: 2;
        font-size: calc(16px + 2vw);
    }
}


/* Animation delays */

.animation-delay-100 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }
  
  .animation-delay-200 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }

  .animation-delay-300 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
  }

  .animation-delay-400 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
  }