.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3vh;
    width: 100%;
    background-color: rgb(170, 86, 86);
}

#brand {
    color: #ffdbc2;
    font-family: 'Lobster Two', cursive;
}