.clsFlamingo-1{fill:#ffd48a;}.clsFlamingo-2{fill:#5c4b2f;}.clsFlamingo-3{fill:#fbdde8;}.clsFlamingo-4{fill:#f0659f;}.clsFlamingo-5{fill:#f497bc;}.clsFlamingo-6{fill:#f7b0cb;}.clsFlamingo-7{fill:#fad4e3;}.clsFlamingo-8{fill:#272324;}.clsFlamingo-9{fill:#fff;}

.flamingoImg{
    height: 90vh;
}

.flamingo {
    position: absolute;
    right: -80px;
    top: 10vh;
    z-index: 4;
    transition: .25s ease-out;
}

.flamingo:hover {
    right: 0px;
    transition: .25s ease-in;
}

@media only screen and (max-width: 1000px) {
    .flamingoImg{
        height: 40vh;
        right: 0;
    }

    .flamingo{
        top: 100px;
        right: 0;
    }
}