.clsFlamingo-1{fill:#ffd48a;}.clsFlamingo-2{fill:#5c4b2f;}.clsFlamingo-3{fill:#fbdde8;}.clsFlamingo-4{fill:#f0659f;}.clsFlamingo-5{fill:#f497bc;}.clsFlamingo-6{fill:#f7b0cb;}.clsFlamingo-7{fill:#fad4e3;}.clsFlamingo-8{fill:#272324;}.clsFlamingo-9{fill:#fff;}

.flamingoImg{
    height: 90vh;
}

.flamingo {
    position: absolute;
    right: -80px;
    top: 10vh;
    z-index: 2;
}

/* ANIMATIONS */

.hidden {
    right: -80vh;
    transition: 0.25s;
}

/* CUSTOM BOUNCE IN ANIMATION */

.bounceInRight {
    animation-name: bounceInRight;
}

  
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
        transform: translate3d(80vh, 0, 0);
    }

    45%{
        transform: translate3d(1000px, 0, 0);
    }
  
    60% {
      transform: translate3d(-25px, 0, 0);
    }
  
    75% {
      transform: translate3d(10px, 0, 0);
    }
  
    90% {
      transform: translate3d(-5px, 0, 0);
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
@media only screen and (max-width: 1000px) {
    .flamingoImg{
        height: 40vh;
    }

    .flamingo{
        top: 100px;
    }

    .hidden{
        right: -20vh;
    }

    @keyframes bounceInRight {
        from,
        30%,
        60%,
        75%,
        90%,
        to {
          animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      
        from {
            transform: translate3d(10vh, 0, 0);
        }
        45%{
            transform: translate3d(30vh, 0, 0);
        }

        60% {
          transform: translate3d(-25px, 0, 0);
        }
      
        75% {
          transform: translate3d(10px, 0, 0);
        }
      
        90% {
          transform: translate3d(-5px, 0, 0);
        }
      
        to {
          transform: translate3d(0, 0, 0);
        }
      }
}