.clsFlamingo-1{fill:#ffd48a;}.clsFlamingo-2{fill:#5c4b2f;}.clsFlamingo-3{fill:#fbdde8;}.clsFlamingo-4{fill:#f0659f;}.clsFlamingo-5{fill:#f497bc;}.clsFlamingo-6{fill:#f7b0cb;}.clsFlamingo-7{fill:#fad4e3;}.clsFlamingo-8{fill:#272324;}.clsFlamingo-9{fill:#fff;}



.flamingo {
    position: absolute;
    right: -80px;
    top: 10vh;
    z-index: 6;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.flamingoImg{
    height: 90vh;
    cursor: pointer;
}

.flamingo:hover{
    transform: scale(1.02);
}


/* ANIMATIONS */

.hidden {
    right: -80vh;
    transition: 0.25s;
}

/* CUSTOM BOUNCE IN ANIMATION */

@media only screen and (max-width: 1000px) {
    .flamingoImg{
        height: 40vh;
    }

    .flamingo{
        top: 100px;
    }

    .hidden{
        right: -20vh;
    }
}