.mainGrid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 5vh 1fr 5vh;
    background-color: #ffdbc2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    /* Keeps on top */
    z-index: 10;
    position: relative;
}

.mainSeperator {
    display: flex;
    align-items: center;
    grid-column: 1/-1;
    padding-bottom: 3vh;
}

.mainSeperator h1{
    font-size: calc(14px + 2vw);
    font-family: 'Lobster Two', cursive;
    color: #1B5D82;
    margin: 0;
    padding-left: 5vw;

}

@media only screen and (max-width: 700px) {
    .grid {
        display: grid;
        grid-template-columns:  5vh 1fr 5vh;
        grid-template-rows: 1fr 10fr 1fr;
    }
}